USE [master]
GO
/****** Object:  Database [EventOrganizerDB]    Script Date: 28.04.2026 14:56:02 ******/
CREATE DATABASE [EventOrganizerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventOrganizerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventOrganizerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventOrganizerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventOrganizerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventOrganizerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventOrganizerDB]
GO
/****** Object:  Table [dbo].[BudgetItems]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[VendorID] [int] NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[EstimatedCost] [decimal](18, 2) NOT NULL,
	[ActualCost] [decimal](18, 2) NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](200) NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [nvarchar](300) NOT NULL,
	[TotalBudget] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ManagerID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventSchedule]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[ActivityName] [nvarchar](200) NOT NULL,
	[LocationDetail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[GuestID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[DietaryPreferences] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[InvitationID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[GuestID] [int] NOT NULL,
	[SentDate] [datetime] NULL,
	[ResponseStatus] [nvarchar](20) NULL,
	[ResponseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvitationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[TaskName] [nvarchar](200) NOT NULL,
	[AssignedToUserID] [int] NULL,
	[Deadline] [datetime] NOT NULL,
	[IsCompleted] [bit] NULL,
	[Priority] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 28.04.2026 14:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NULL,
	[Rating] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BudgetItems] ON 

INSERT [dbo].[BudgetItems] ([ItemID], [EventID], [VendorID], [Category], [Description], [EstimatedCost], [ActualCost], [IsPaid]) VALUES (1, 1, 1, N'Catering', NULL, CAST(45000.00 AS Decimal(18, 2)), CAST(47000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BudgetItems] ([ItemID], [EventID], [VendorID], [Category], [Description], [EstimatedCost], [ActualCost], [IsPaid]) VALUES (2, 1, 2, N'Photo', NULL, CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BudgetItems] ([ItemID], [EventID], [VendorID], [Category], [Description], [EstimatedCost], [ActualCost], [IsPaid]) VALUES (3, 1, NULL, N'Misc', NULL, CAST(3000.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[BudgetItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [EventName], [EventType], [EventDate], [Location], [TotalBudget], [Status], [ManagerID], [Description], [Image]) VALUES (1, N'Wedding Ceremony #1', N'Wedding', CAST(N'2023-01-04T00:00:00.000' AS DateTime), N'Garden', CAST(196913.00 AS Decimal(18, 2)), N'Completed', 3, N'Standard event description for batch 1', NULL)
INSERT [dbo].[Events] ([EventID], [EventName], [EventType], [EventDate], [Location], [TotalBudget], [Status], [ManagerID], [Description], [Image]) VALUES (2, N'IT Conference #2', N'Conference', CAST(N'2023-01-07T00:00:00.000' AS DateTime), N'Rooftop', CAST(125773.00 AS Decimal(18, 2)), N'Completed', 4, N'Standard event description for batch 2', NULL)
INSERT [dbo].[Events] ([EventID], [EventName], [EventType], [EventDate], [Location], [TotalBudget], [Status], [ManagerID], [Description], [Image]) VALUES (3, N'Birthday Bash #3', N'Birthday', CAST(N'2023-01-10T00:00:00.000' AS DateTime), N'Main Stage', CAST(146349.00 AS Decimal(18, 2)), N'Completed', 2, N'Standard event description for batch 3', NULL)
GO
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[EventSchedule] ON 

INSERT [dbo].[EventSchedule] ([ScheduleID], [EventID], [StartTime], [EndTime], [ActivityName], [LocationDetail]) VALUES (1, 1, CAST(N'2023-03-15T10:00:00.000' AS DateTime), CAST(N'2023-03-15T11:00:00.000' AS DateTime), N'Guest Registration', N'Lobby')
INSERT [dbo].[EventSchedule] ([ScheduleID], [EventID], [StartTime], [EndTime], [ActivityName], [LocationDetail]) VALUES (2, 1, CAST(N'2023-03-15T11:00:00.000' AS DateTime), CAST(N'2023-03-15T13:00:00.000' AS DateTime), N'Main Ceremony', N'Hall A')
INSERT [dbo].[EventSchedule] ([ScheduleID], [EventID], [StartTime], [EndTime], [ActivityName], [LocationDetail]) VALUES (3, 1, CAST(N'2023-03-15T13:00:00.000' AS DateTime), CAST(N'2023-03-15T14:00:00.000' AS DateTime), N'Networking Dinner', N'Terrace')
SET IDENTITY_INSERT [dbo].[EventSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [EventID], [GuestID], [Rating], [Comment], [SubmittedAt]) VALUES (1, 1, 1, 4, N'Great organization, everything was smooth.', CAST(N'2026-04-27T22:43:28.143' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [EventID], [GuestID], [Rating], [Comment], [SubmittedAt]) VALUES (2, 2, 2, 4, N'Great organization, everything was smooth.', CAST(N'2026-04-27T22:43:28.143' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [EventID], [GuestID], [Rating], [Comment], [SubmittedAt]) VALUES (3, 3, 3, 4, N'Great organization, everything was smooth.', CAST(N'2026-04-27T22:43:28.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestID], [FirstName], [LastName], [Email], [Phone], [DietaryPreferences]) VALUES (1, N'Maria', N'Johnson1', N'guest1@mail.com', N'+79000000011', N'None')
INSERT [dbo].[Guests] ([GuestID], [FirstName], [LastName], [Email], [Phone], [DietaryPreferences]) VALUES (2, N'Dmitry', N'Brown2', N'guest2@mail.com', N'+79000000022', N'None')
INSERT [dbo].[Guests] ([GuestID], [FirstName], [LastName], [Email], [Phone], [DietaryPreferences]) VALUES (3, N'Elena', N'Davis3', N'guest3@mail.com', N'+79000000033', N'None')
GO
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Invitations] ON 

INSERT [dbo].[Invitations] ([InvitationID], [EventID], [GuestID], [SentDate], [ResponseStatus], [ResponseDate]) VALUES (1, 1, 19, CAST(N'2026-04-27T22:43:28.093' AS DateTime), N'Pending', NULL)
INSERT [dbo].[Invitations] ([InvitationID], [EventID], [GuestID], [SentDate], [ResponseStatus], [ResponseDate]) VALUES (2, 1, 80, CAST(N'2026-04-27T22:43:28.093' AS DateTime), N'Pending', NULL)
INSERT [dbo].[Invitations] ([InvitationID], [EventID], [GuestID], [SentDate], [ResponseStatus], [ResponseDate]) VALUES (3, 1, 48, CAST(N'2026-04-27T22:43:28.093' AS DateTime), N'Confirmed', CAST(N'2026-04-27T22:43:28.093' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Invitations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [EventID], [TaskName], [AssignedToUserID], [Deadline], [IsCompleted], [Priority], [CreatedAt]) VALUES (1, 33, N'Book Photographer #1', 1, CAST(N'2023-03-25T00:00:00.000' AS DateTime), 0, N'Medium', CAST(N'2026-04-27T22:43:28.077' AS DateTime))
INSERT [dbo].[Tasks] ([TaskID], [EventID], [TaskName], [AssignedToUserID], [Deadline], [IsCompleted], [Priority], [CreatedAt]) VALUES (2, 94, N'Send Invitations #2', 1, CAST(N'2023-03-25T00:00:00.000' AS DateTime), 1, N'Medium', CAST(N'2026-04-27T22:43:28.077' AS DateTime))
INSERT [dbo].[Tasks] ([TaskID], [EventID], [TaskName], [AssignedToUserID], [Deadline], [IsCompleted], [Priority], [CreatedAt]) VALUES (3, 25, N'Check Audio #3', 4, CAST(N'2023-03-25T00:00:00.000' AS DateTime), 0, N'High', CAST(N'2026-04-27T22:43:28.077' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [FirstName], [LastName], [Email], [Phone], [RoleID], [CreatedAt]) VALUES (1, N'admin_ivanov', N'HASHED_QWERTY_01', N'Иван', N'Иванов', N'admin@event.ru', N'+79001111111', 1, CAST(N'2026-04-27T22:43:28.033' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FirstName], [LastName], [Email], [Phone], [RoleID], [CreatedAt]) VALUES (2, N'mgr_petrov', N'HASHED_QWERTY_02', N'Петр', N'Петров', N'p.petrov@event.ru', N'+79002222222', 2, CAST(N'2026-04-27T22:43:28.033' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FirstName], [LastName], [Email], [Phone], [RoleID], [CreatedAt]) VALUES (3, N'mgr_sid', N'HASHED_QWERTY_03', N'Сидор', N'Сидоров', N's.sidorov@event.ru', N'+79003333333', 2, CAST(N'2026-04-27T22:43:28.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorID], [CompanyName], [ContactPerson], [Phone], [Email], [ServiceType], [City], [Rating]) VALUES (1, N'Ресторан Панорама', N'Игорь В.', N'+74951112233', N'info@panorama.ru', N'Catering', N'Москва', CAST(4.80 AS Decimal(3, 2)))
INSERT [dbo].[Vendors] ([VendorID], [CompanyName], [ContactPerson], [Phone], [Email], [ServiceType], [City], [Rating]) VALUES (2, N'ФотоАрт Студия', N'Ольга С.', N'+78125556677', N'shoot@art.spb.ru', N'Photography', N'Санкт-Петербург', CAST(4.90 AS Decimal(3, 2)))
INSERT [dbo].[Vendors] ([VendorID], [CompanyName], [ContactPerson], [Phone], [Email], [ServiceType], [City], [Rating]) VALUES (3, N'Цветочный Базар', N'Ашот Г.', N'+79001234567', N'flowers@bazar.ru', N'Decor', N'Москва', CAST(4.50 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61609AF9F4F6]    Script Date: 28.04.2026 14:56:02 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BFC66C56B]    Script Date: 28.04.2026 14:56:02 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E28D798C]    Script Date: 28.04.2026 14:56:02 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BudgetItems] ADD  DEFAULT ((0)) FOR [ActualCost]
GO
ALTER TABLE [dbo].[BudgetItems] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((0)) FOR [TotalBudget]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ('Planning') FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Invitations] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Invitations] ADD  DEFAULT ('Pending') FOR [ResponseStatus]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BudgetItems]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BudgetItems]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendors] ([VendorID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EventSchedule]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([GuestID])
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([GuestID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([AssignedToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Active' OR [Status]='Planning'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD CHECK  (([ResponseStatus]='Declined' OR [ResponseStatus]='Confirmed' OR [ResponseStatus]='Pending'))
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD CHECK  (([Priority]='Critical' OR [Priority]='High' OR [Priority]='Medium' OR [Priority]='Low'))
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
USE [master]
GO
